* {
  background-color: #a3a3c2;
}


.App {
  text-align: center;
  background-color: #a3a3c2;
  color: #f2f2f2;
}

.App-header {
  background-color: transparent;
  height: 150px;
  padding: 10px;
  color: white;
}

.App-header h1 {
  font-size: 5em;
  font-family: Arial;
  font-weight: 100;
  color: #ffe6cc;
}

.App-intro {
  font-size: large;
}


.head {
  top: 0;
  width: 100%;
  margin: auto;
  z-index: 1;
  position: fixed;
}

.body {
  display: inline-block;
  height:100vh;
  overflow: scroll;
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
  background-color: transparent;
  color: #ffe6cc;
}

a:hover {
  color: black;
  background-color: white;
}
