
.image {
  height: 200px;
  length: 200px;
  border: 1px solid black;
}



.card {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  width: 45%;
  height: 300px;
  overflow: scroll;
  border: 1px solid black;
  margin: 1%;
  background-color: #fff2e6;
  border-radius: 10px;
  padding: 3px;
  color: black;
}

.card h2 {
  background: transparent;
  font-family: 'Open Sans', sans-serif;
  padding: 5px;
}

.card a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-decoration: none;
  background: transparent;
  color: black;
}

.card-title {
  font-family: 'Open Sans', sans-serif;
}

.card a:hover {
  color: #a3a3c2;
  background: transparent;
}

.card-content {
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  overflow: scroll;
}

.card-content a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background: transparent;

}


.card-content a:hover {
  color: #a3a3c2;
  background: transparent;
}

.article-title {
  background: white;
  color: black;
}

a.article-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}
