.image {
  height: 200px;
  length: 200px;
  border: 1px solid black;
}

.large-text {
  font-size: 1.5em;
}

.card {
  display: inline-block;
  width: 45%;
  height: 300px;
  overflow: scroll;
  border: 1px solid black;
  margin: 1%;
  background-color: white;
  border-radius: 10px;
  padding: 3px;
  color: black;
}

.card h2 {
  background: white;
  padding: 5px;
}

.card a {
  text-decoration: none;
  background: white;
  color: black;
}

.card a:hover {
  color: gray;
  background: white;
}

.card-content {
  background-color: white;
  overflow: scroll;
}

.card-content a:hover {
  color: gray;
  background: white;
}

.article-title {
  background: white;
  color: black;
}

a.article-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}
