.navbar {
  width: 100%;
  background: #ffe6cc;

}

.navlink {
  text-decoration: none;
  padding: 6px 20px 6px 20px;
  background: transparent;
  color: black;
  display: inline-block;
}

.navlink a:hover {
  background: white;
  color: #ffe6cc;
}
