#sources-form {
  display: inline-block;
  float: right;
  width: 65%;
  height:100vh;
  overflow: scroll;
  border: 1px solid black;
  padding: 10px;
  margin: 1%;
  background-color: white;
  color: black
}

.source {
  color: black;
  background-color: AliceBlue;
  text-align: left;
  border: 1px solid black;
  margin: 5px;
  padding: 3px;
  border-radius: 10px;
}

div.source:hover {
  background-color: yellow;
}


.source p, h3 {
  background-color: transparent;
}


.sources {
  display: inline-block;
  float: left;
  width: 30%;
  length: 100%;
  text-align: left;
  padding: 5px;
}



.save-button {
  display: inline-block;
  background-color: white;
  size: 200%;
}
